<h2>THE AUTHORS</h2>

<div class="container">
  <div class="row">

    <div class="col-md-4">
        <img class="Pix" src="images/Loren.png" alt= "Loren's Photo" height="242" width="242"><br>
    </div>

    <div class="col-md-4">
        <img class="Pix" src="images/Via.jpg" alt= "Via's Photo" height="242" width="242"><br>

    </div>

    <div class="col-md-4">
      <img class="Pix" src="images/selfie.jpg" alt= "Ian's Photo" height="242" width="242"><br>
    </div>

    <div class="col-md-4 contact">
        <a href="https://www.linkedin.com/in/lorenmcrawford" target="_blank"><h3>Keep in touch with Loren!</h3>
        </a>
    </div>


    <div class="col-md-4 contact">
      <a href="https://www.linkedin.com/in/gcmoreira" target="_blank"><h3>Keep in touch with Guivia!</h3></a>
    </div>

    <div class="col-md-4 contact">
        <a href="https://www.linkedin.com/in/iannarcissecousar" target="_blank"><h3>Keep in touch with Ian!</h3>
        </a>
    </div>
  </div>
</div>
