<!doctype html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body class="content">
    <header>
      <% include partials/header %>
    </header>

    <main>
      <%- body %>
    </main>
    <div class="push"><!-- Push Footer --></div>

    <footer class="footer">
      <% include partials/footer %>
    </footer>

    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
    <script type="text/javascript">
      fetchAddress();
      $(function(){
        $('.nav-tabs a:first').tab('show');
      });
    </script>
  </body>
</html>
